<div class="mt-5">
  <div class="card mx-auto" style="width: 500px;">
    <div class="card-header">
      <h3>Login</h3>
    </div>
    <div class="card-body">
      <% flash.each do |name, msg| %>
        <div class="text-danger mb-2">
          *<%= msg %>
        </div>
      <% end %>
      <%= bootstrap_form_with(model: @user, url: '/login', local: true) do |f| %>
        <%= f.email_field :email, label: "Email", placeholder: "Enter email address" %>
        <%= f.password_field :password, placeholder: "Enter at least 6 characters" %>
        <%= f.submit "Log In", class: ["btn btn-sm btn-primary"] %>
      <% end %>
    </div>
  </div>
</div>
